#calc {
  display: flex;
  flex-direction: column;
  min-height: 95vh;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  background-color: azure;
}

#container {
  width: 400px;
  height: 400px;
  background-color: aqua;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 5px 5px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . . ."
    ". . . ."
    ". . . ."
    ". . . equal"
    ". . . equal";
}

#equal {
  grid-area: equal;
}

/* #container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  justify-items: stretch;
  align-items: stretch;
}

#equal {
  grid-area: 5;
} */
